{% extends 'index.html' %}

{% block links %}

{% endblock %}

{% block body %}


<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-6 text-center">
            <img src="http://statistics-of-internship-finder.fr/Images/error.gif" class="w-50">
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col text-center my-2">
            <h1>OOPS...</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col text-center my-4">
            {{error}}
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col text-center my-4">
            <a href='http://internship-finder.fr'><button>Login</button></a>
        </div>
    </div>
    



</div>


{% endblock %}