{% macro header(site,arr) %}

<header class="container-fluid border-bottom border-dark">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">
            <img src="http://statistics-of-internship-finder.fr/Images/logo.png" id="logoheader" class="d-inline-block align-top" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            {% if arr.cpilot == true or arr.cdelegate == true or arr.cstudent == true or arr.ccompany == true or arr.coffer == true %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Create
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% if arr.cpilot == true or arr.cdelegate == true or arr.cstudent%}
                <a class="dropdown-item" href="http://{{site}}/controlers/controler_create_user.php">User</a>
                {% endif %}
                {% if arr.ccompany == true%}
                <a class="dropdown-item" href="http://{{site}}/controlers/controler_creation_modification_company.php">Compagny</a>
                {% endif %}
                {% if arr.coffer == true%}
                <a class="dropdown-item" href="#">Offer</a>
                {% endif %}
              </div>
            </li>
            {% endif %}
            {% if arr.soffer == true%}
            <li class="nav-item">
                <a class="nav-link" href="http://{{site}}/controlers/controler_search_offer.php">Offer</a>
              </li>
              {% endif %}
              {% if arr.spilot == true%}
              <li class="nav-item">
                <a class="nav-link" href="http://{{site}}/controlers/controler_search_user.php?user_role=pilot">Pilot</a>
              </li>
              {% endif %}
              {% if arr.sdelegate == true%}
              <li class="nav-item">
                <a class="nav-link" href="http://{{site}}/controlers/controler_search_user.php?user_role=delegate">Delegate</a>
              </li>
              {% endif %}
              {% if arr.sstudent == true%}
              <li class="nav-item">
                <a class="nav-link" href="http://{{site}}/controlers/controler_search_user.php?user_role=student">Student</a>
              </li>
              {% endif %}
              {% if arr.scompany == true%}
              <li class="nav-item">
                <a class="nav-link" href="http://{{site}}/controlers/controler_search_company.php">Compagny</a>
              </li>
              {% endif %}
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a href="" class="logo"><i class="fas fa-user"></i></a>
                </li>
                <li class="nav-item active">
                    <a href="http://{{site}}/controlers/controler_wishlist.php" class="logo"><i class="fas fa-star"></i></a>
                </li>
                <li class="nav-item active">
                    <a href="http://{{site}}/index.php?deco" class="logo"><i class="fas fa-sign-out-alt"></i></a>
                </li>  
                </ul>
          </form>
        </div>
      </nav>
      {{titre | default('Internship Finder')}}
</header>

{% endmacro %}