{% extends 'index.html' %}
{% block links %}

{% endblock %}

{% block body %}

<div class="contianer-fluid">
    <form class="container " action="../controlers/controler_search_company.php" method="get">
        <input type="text" placeholder="Company name" name="companyName" />

        <select name="activityArea" id="activityArea" placeholder="activity area">
            <option value="" disabled selected>Activity Area</option>
            {{activity_area | raw}}
        </select>

        <select name="locality" id="locality">
            <option value="" disabled selected>Locality</option>
            {{locality | raw}}
        </select>

        <select name="skillsName" id="skillsName">
            <option value="" disabled selected>Skill</option>
            {{skills | raw}}
        </select>

        <input type="number" placeholder="Number of Trainee" name="numberOfTrainee" min="0" max="100">


        <select name="rateStudent" id="rateStudent">
            <option value="" disabled selected>Minimum Trainee score</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>

        </select>
        <select name="ratePilot" id="ratePilot">
            <option value="" disabled selected>Minimum Pilot score</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>

        </select>

        <input type="submit" />

    </form>
</div>




<div class="container">
    {% if result is empty %}
    <p class="row">Any Offer available</p>
    {% else %}
    {% for item in result %}

    <div class="row">
        <a class="col-12" href="controler_profil_company.php?id={{item.ID | raw}}">
            <h2>{{item.name}}</h2>
        </a>


        <div class="col-6">

            <p class="row">Locality : {{item.locality}}</p>
            <p class="row">Activity Area : {{item.activity_area}}</p>


            <div class="row">
                <h4 class="col-12">Skills :</h4>
                {% for skill in getSkillsOfIdCompany(item.ID) %}
                <p class="col-4">{{skill.name}}</p>
                {% endfor %}

            </div>

            <div class="row">
                <div class="col">
                    <h4 class="row">Stats :</h4>
                    <p class="row">Trainee Hired : {{item.number_of_trainee | default('0')}}</p>
                    <p class="row">Trainee Score : {{item.rateStudent | default('Not Rated')}}</p>
                    <p class="row">Pilot Score : {{item.ratePilot | default('Not Rated')}}</p>
                </div>

            </div>




        </div>
        <div class="col-6">
            <h4 class="row">Description :</h4>
            <p class="row">{{ item.description}}</p>
        </div>
        <div class="col-4">
            <a  href="controler_creation_modification_company.php?id={{item.ID}}"><button>Modifier</button></a>
        </div>
        <div class="col-4">
            <a href="controler_del.php?id={{item.ID}}&del=1"><button>Supprimer</button></a>
        </div>
        <select class="col-4">
            name="rateGived" id="rateGived">
            <option value="" disabled selected>Rate !</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>

        </select>

    </div>

    {% endfor %}
    {% endif %}
</div>
{% endblock %}