
{% extends "index.html" %}

{% block links %}

{% endblock %}





{% block body %}

<div class="contianer-fluid">
    <form class="container " action="../controlers/controler_search_company.php" method="get">
        <input type="text" placeholder="Company name" name="companyName" />

        <select name="activityArea" id="activityArea" placeholder="activity area">
            <option value="" disabled selected>Activity Area</option>
            {{activity_area | raw}}
        </select>

        <select name="locality" id="locality">
            <option value="" disabled selected>Locality</option>
            {{locality | raw}}
        </select>

        <select name="skills" id="skills">
            <option value="" disabled selected>Skill</option>
            {{skills | raw}}
        </select>
        <input type="number" placeholder="Number of Trainee" name="numberOfTrainee" min="0" max="100">


        <select name="traineeScore" id="traineeScore">
            <option value="" disabled selected>Minimum Trainee score</option>
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
        </select>
        <select name="pilotScore" id="pilotScore">
            <option value="" disabled selected>Minimum Pilot score</option>
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
        </select>

        <input type="submit" />

    </form>
</div>




<div class="container">
    {% for item in result %}

    <div class="row">
        <a class="col-12" href="controler_profil_company.php?id={{item.ID | raw}}">
            <h2 >{{item.name}}</h2>
        </a>
        

        <div class="col-6">

            <p class="row">Locality : {{item.locality}}</p>
            <p class="row">Activity Area : {{item.activity_area}}</p>
            <!--
    <div>
        <h4 class="row">Skills :</h4>
        {% for skill in getSkills(item.id) %}
        <p class="row">{{skill.name}}</p>
        {% endfor %}


    </div>
    <div>
        <h4 class="row ">Stats :</h4>
        <p class="row">Trainee Hired : {{item.number_of_trainee | default('0')}}</p>
        <p class="row">Trainee Score : {{4 - item.rateStudent}}</p>
        <p class="row">Pilot Score : {{4 - item.ratePilot}}</p>
    </div>
    -->



        </div>
        <div class="col-6">
            <h4 class="row">Description :</h4>
            <p class="row">{{ item.description}}</p>
        </div>
        <div class="row">
            <a class="col" href="controler_creation_modification_company.php?id={{item.ID}}"><button>Modifier</button></a>
        </div>
        
    </div>
    
    {% endfor %}
</div>





{% endblock %}

